*{
  background-color: #439cd6;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.app{
  font-family: 'Encode Sans Condensed', sans-serif;
  color: gainsboro;
}
/* the subtitle for the page*/
.definition{
  font-style: italic;
}
/* ul for movies */
.movie-container{
  border: 4px solid gainsboro;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  overflow: auto;
  margin: 20px;
  border-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
/* styles each of movie cards */
.movie-card{ 
  /* margin: 20px; */
  padding: 10px;

}
.movie-image{
  max-height: 510px;
  max-width: 680px;
}
/* l */
.species-card{
  border: 2px solid gainsboro;
  width: 550px;
  margin: 20px;
  padding: 20px;
  color: black;
  background-color: gainsboro;
  align-content: center;
  justify-content: space-around;
}
p{
  background-color: gainsboro;
}
h3{
  background-color: gainsboro;
}
/* ul for species */
.species-container{
  display: flex;
  flex-direction: row;  
  list-style-type: none;
  overflow: auto;
}
/* movies, subtitle, species*/
h2{
  margin:20px;
}

h1{
  margin: 20px;
}

/* title continer*/
.top{
  display: flex;
  flex-direction: column;
  padding: 0px;
}
/* totoro image*/ 
img.logo{
  width: 300px;
  height: auto;
  float: right;
}
.species-card.p{
  background-color: gainsboro !important; 
}

ul{
  padding-inline-start: 15px;
}
